@model HccCoffeeMaker.Models.CoffeeMakerModels.AmazonProductModel
@using HccCoffeeMaker.Models.CoffeeMakerModels

@{
    ViewData["Title"] = "Create";
}











<script type="text/javascript" src="~/js/bsjsCore/Readyable.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/BSAutoSwitch.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/BSService.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/BSExtension.js"></script>
<!-- BSUtils, Downloader, ParsedURL, and simplBase are helper classes. Include them, but don't really worry about them-->
<script type="text/javascript" src="~/js/bsjsCore/BSUtils.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/ParsedURL.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/Downloader.js"></script>
<script type="text/javascript" src="~/js/bsjsCore/simpl/simplBase.js"></script>
<!-- RepoMan loads a Meta-metadata repository. Avoid doing anything with it directly; it's messy-->
<script type="text/javascript" src="~/js/bsjsCore/RepoMan.js"></script>
<script type="text/javascript" src="~/js/semantics.js"></script>
<script type="text/javascript" src="~/js/Create.js"></script>







<h2>Create</h2>

<button id="loadJson" onclick="GetJson()">Load Json</button>



<form asp-action="CreateFromUrl">
    <div class="form-horizontal">
        <h4>AmazonProductModel</h4>
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Amazon URL</label>
            <div class="col-md-10">
                <input type="text" name="url" id="url" /><br />
                <input type="text" name="metaData" id="metaData" style="display:none;" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Color</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.ColorOptions color in Enum.GetValues(typeof(AmazonProductModel.ColorOptions)))
                {
                    <input type="radio" name="ColorOptions" value="@color.ToString()"> @color.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Durability</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.DurabilityOptions durability in Enum.GetValues(typeof(AmazonProductModel.DurabilityOptions)))
                {
                    <input type="radio" name="DurabilityOptions" value="@durability.ToString()"> @durability.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Serving Size</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.ServingSizeOptions servingSize in Enum.GetValues(typeof(AmazonProductModel.ServingSizeOptions)))
                {
                    <input type="radio" name="ServingSizeOptions" value="@servingSize.ToString()"> @servingSize.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Brewing Time</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.BrewingTimeOptions brewingTime in Enum.GetValues(typeof(AmazonProductModel.BrewingTimeOptions)))
                {
                    <input type="radio" name="BrewingTimeOptions" value="@brewingTime.ToString()"> @brewingTime.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Brand</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.BrandOptions brandOptions in Enum.GetValues(typeof(AmazonProductModel.BrandOptions)))
                {
                    <input type="radio" name="BrandOptions" value="@brandOptions.ToString()"> @brandOptions.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Warranty</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.WarrantyOptions warranty in Enum.GetValues(typeof(AmazonProductModel.WarrantyOptions)))
                {
                    <input type="radio" name="WarrantyOptions" value="@warranty.ToString()"> @warranty.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Quality of Coffee</label>
            <div class="col-md-10">
                @foreach (AmazonProductModel.QualityOfCoffeeOptions qualityOfCoffee in Enum.GetValues(typeof(AmazonProductModel.QualityOfCoffeeOptions)))
                {
                    <input type="radio" name="QualityOfCoffeeOptions" value="@qualityOfCoffee.ToString()"> @qualityOfCoffee.ToString() <br />
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}