@*Filter Options Page*@ 
@using HccCoffeeMaker.Models.CoffeeMakerModels;

@{
    ViewData["Title"] = "Filter Page";
}

<link rel="stylesheet" type="text/css" href="~/css/Filters.css" />

<style>
    #dropField {
        width: 960px;
        height:auto;
        min-height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }

</style>
<script>
function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    var copy = document.getElementById(data.concat("Added")).cloneNode(true);
    copy.opacity = "1";
    copy.style.display = "inline";
    //ev.target.appendChild(copy);
    document.getElementById("dropField").appendChild(copy);
    document.getElementById("dropField").appendChild(document.createElement("br"));
}
document.addEventListener("dragstart", function (event) {
    //event.dataTransfer.setData("Text", event.target.id);
    event.target.style.opacity = "0.4";
});

document.addEventListener("dragend", function (event) {
    event.target.style.opacity = "1";
});

/*
document.addEventListener("drag", function (event) {
    event.dataTransfer.setData("Text", event.target.id);
    event.target.style.opacity = "0.4";
});
*/
</script>

<div style="height:50px;">
</div>

<div style="text-align:center;width:100%;">
    <div class="filterElement" id="price" draggable="true" ondragstart="drag(event)" style="top:50%;">
        Price
    </div>

    <div class="filterElement" id="color" draggable="true" ondragstart="drag(event)">
        Color
    </div>

    <div class="filterElement" id="durability" draggable="true" ondragstart="drag(event)">
        Durability
    </div>

    <div class="filterElement" id="servingSize" draggable="true" ondragstart="drag(event)">
        Serving Size
    </div>

    <div class="filterElement" id="brewingTime" draggable="true" ondragstart="drag(event)">
        Brewing Time
    </div>

    <div class="filterElement" id="brand" draggable="true" ondragstart="drag(event)">
        Brand
    </div>
</div>


<div id="priceAdded" style="display:none">
    <div class="addedFilter">
        Price <br />
        @foreach (AmazonProductModel.PriceOptions price in Enum.GetValues(typeof(AmazonProductModel.PriceOptions)))
        {
            <input type="checkbox" name="price" value=@price.ToString() /> @AmazonProductModel.PriceOptionsString(price) <br>
        }
    </div>
</div>

<div id="colorAdded" style="display:none">
    <div class="addedFilter">
        Color <br />
        @foreach (AmazonProductModel.ColorOptions color in Enum.GetValues(typeof(AmazonProductModel.ColorOptions)))
        {
            <input type="checkbox" name="price" value=@color.ToString() /> @color.ToString() <br>
        }
    </div>
</div>

<div id="durabilityAdded" style="display:none">
    <div class="addedFilter">
        Durability <br />
        @foreach (AmazonProductModel.DurabilityOptions durability in Enum.GetValues(typeof(AmazonProductModel.DurabilityOptions)))
        {
            <input type="checkbox" name="durability" value=@durability.ToString() /> @durability.ToString() <br>
        }
    </div>
</div>

<div id="servingSizeAdded" style="display:none">
    <div class="addedFilter">
        Serving Size <br />
        @foreach (AmazonProductModel.ServingSizeOptions servingSize in Enum.GetValues(typeof(AmazonProductModel.ServingSizeOptions)))
        {
            <input type="checkbox" name="servingSize" value=@servingSize.ToString() /> @servingSize.ToString() <br>
        }
    </div>
</div>

<div id="brewingTimeAdded" style="display:none">
    <div class="addedFilter">
        Serving Size <br />
        @foreach (AmazonProductModel.BrewingTimeOptions brewingTime in Enum.GetValues(typeof(AmazonProductModel.BrewingTimeOptions)))
        {
            <input type="checkbox" name="brewingTime" value=@brewingTime.ToString() /> @AmazonProductModel.BrewingTimeOptionsString(brewingTime) <br>
        }
    </div>
</div>

<div id="brandAdded" style="display:none">
    <div class="addedFilter">
        Serving Size <br />
        @foreach (AmazonProductModel.BrandOptions brand in Enum.GetValues(typeof(AmazonProductModel.BrandOptions)))
        {
            <input type="checkbox" name="brewingTime" value=@brand.ToString() /> @brand.ToString() <br>
        }
    </div>
</div>

<div style="height:50px;clear:both;"></div>
<form asp-controller="InitialOptions" asp-action="Index" method="post">
Drop the desired Facets into the field below: <br />
    <div id="dropField" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
    
    <br />
    <input type="submit" value="Proceed With Selected Facets" />
</form>