@*Filter Options Page*@ 
@using HccCoffeeMaker.Models.CoffeeMakerModels;

@{
    ViewData["Title"] = "Filter Page";
}

<link rel="stylesheet" type="text/css" href="~/css/Filters.css" />


<script src="~/js/jquery-1.3.2-vsdoc2.js"></script>
<script src="~/js/Filter.js"></script>




<div style="height:50px;"></div>

<div id="myDiv" class="modal"></div>




<div style="height:10px;"></div>
<div style="font-size:var(--extraLargeFont)">Select facets to filter on </div>
<div style="height:50px;"></div>

@{ var title = "";}
@{ var spaceUnderFacetSelectorTitle = "50px";}
<div style="text-align:center;width:100%;">
    @{title = "price";}
    <div id="@(title)AddedHead"></div>
    <div id="@(title)Added" class="addedFilter">
        Price <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.PriceOptions price in Enum.GetValues(typeof(AmazonProductModel.PriceOptions)))
        {
            <input type="checkbox" name="@(title)" value=@price.ToString() /> @AmazonProductModel.PriceOptionsString(price)<br />
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Price</span>
    </div>
    @{title = "color";}
    <div id="@(title)Added" class="addedFilter">
        Color <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.ColorOptions color in Enum.GetValues(typeof(AmazonProductModel.ColorOptions)))
        {
            <input type="checkbox" name="@(title)" value=@color.ToString() /> @color.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Color</span>
    </div>

    @{title = "durability";}
    <div id="@(title)Added" class="addedFilter">
        Durability <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.DurabilityOptions durability in Enum.GetValues(typeof(AmazonProductModel.DurabilityOptions)))
        {
            <input type="checkbox" name="@(title)" value=@durability.ToString() /> @durability.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Durability</span>
    </div>
    @{title = "servingSize";}
    <div id="@(title)Added" class="addedFilter">
        Serving Size <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.ServingSizeOptions servingSize in Enum.GetValues(typeof(AmazonProductModel.ServingSizeOptions)))
        {
            <input type="checkbox" name="@(title)" value=@servingSize.ToString() /> @servingSize.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Serving Size</span>
    </div>
</div>

<div style="text-align:center;width:100%;">
    @{title = "brewingTime";}
    <div id="@(title)Added" class="addedFilter">
        Brewing Time <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.BrewingTimeOptions brewingTime in Enum.GetValues(typeof(AmazonProductModel.BrewingTimeOptions)))
        {
            <input type="checkbox" name="@(title)" value=@brewingTime.ToString() /> @AmazonProductModel.BrewingTimeOptionsString(brewingTime) <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Brewing Time</span>
    </div>
    @{title = "brand";}
    <div id="@(title)Added" class="addedFilter">
        Brand <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.BrandOptions brand in Enum.GetValues(typeof(AmazonProductModel.BrandOptions)))
        {
            <input type="checkbox" name="@(title)" value=@brand.ToString() /> @brand.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Brand</span>
    </div>

    @{title = "warranty";}
    <div id="@(title)Added" class="addedFilter">
        Warranty <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.WarrantyOptions warranty in Enum.GetValues(typeof(AmazonProductModel.WarrantyOptions)))
        {
            <input type="checkbox" name="@(title)" value=@warranty.ToString() /> @warranty.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Warranty</span>
    </div>

    @{title = "qualityOfCoffee";}
    <div id="@(title)Added" class="addedFilter">
        Quality of Coffee <br />
        <div style="height:@(spaceUnderFacetSelectorTitle);"></div>
        @foreach (AmazonProductModel.QualityOfCoffeeOptions qualityOfCoffee in Enum.GetValues(typeof(AmazonProductModel.QualityOfCoffeeOptions)))
        {
            <input type="checkbox" name="@(title)" value=@qualityOfCoffee.ToString() /> @qualityOfCoffee.ToString() <br>
        }
        <span id="@(title)AddedSelect" class="addedFacetSelect" onclick="clickSelect(this.id)">✓</span>
        <span id="@(title)AddedClose" class="addedFacetClose" onclick="clickClose(this.id)">X</span>
    </div>
    <div class="filterElement" id="@(title)" onclick="clickFacet(this.id)">
        <span class="filterText">Quality of Coffee</span>
    </div>
</div>

@*<div style="height:200px;"></div>*@

<br />
<font style="color:var(--lightSeafoam)">.</font>
<br />
<hr />



<div style="height:50px;clear:both;"></div>
<form asp-controller="InitialOptions" asp-action="Index" method="post" style="text-align:center;" id="inputForm">
    <div id="formField" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

    <br />
    <div style="clear:both;"></div>

    <div id="rightArrow"
         onclick="MoveToSelectionFromFilters(event, id)"
         onmouseover="MouseOverCursor(event, this.id)"
         onmouseout="MouseOutDefault(event, this.id)"
         style="display:none;">
        <font style="font-size:250px;"> > </font>
    </div>
</form>

    

    

    
