@using HccCoffeeMaker.Models.CoffeeMakerModels;


<script src="~/js/Comparison.js" type="text/javascript"></script>


<div style="height:10px;"></div>


<div style="position:absolute;
            left:275px;
            top:275px;
            font-size:var(--extraLargeFont)">
    <span id="DragText">Drag Rows to Rearrange</span>
</div>

<div style="width:200px;
            height:220px;
            position:absolute;
            right:600px;">
    <div style="background-color:var(--navy);
            width:200px;
            height:200px;
            /*border:solid 5px var(--navy);*/
            border-radius:10px;"
         onclick="ChangeToAnnotationMode(event, this.id)"
         onmouseover="MouseOverReview(event, this.id)"
         onmouseout="MouseOutReview(event, this.id)"
         id="Pen">

        <img style="width:200px;height:200px;" src="~/images/Pen.png" />
    </div>
    <div style="text-align:center;font-size:var(--mediumFont);">
        Click Pen to <b><span id="StartStop">Start</span></b> Annotating
    </div>
</div>

<div style="width:200px;
            height:220px;
            position:absolute;
            right:350px;">
    <div style="background-color:var(--pink);
            width:200px;
            height:200px;
            /*border:solid 5px var(--navy);*/
            border-radius:10px;"
         id="TrashCan"
         ondragover="TrashDragEnter(event, this.id)" 
         ondragleave="TrashDragExit(event, this.id)" 
         ondrop="TrashDrop(event, this.id)">

        <img style="width:200px;height:200px;" src="~/images/TrashCan.png" />
    </div>
    <div style="text-align:center;font-size:var(--mediumFont);">
        <span id="TrashText">Drag Row to Trash to <b>Remove</b> </span>
    </div>
</div>


<div style="height:280px;clear:both;"></div>


<div style="height:20px"></div>
@*//MBSTART*@

<div style="text-align:center;width:100%;display:block;position:absolute;left:0;">
    <table class="comparisonTable" align="center">
        @*<thead >*@
        <tr class="headerRow" id="productHeader"
            style="/*display:table-header-group;*/
            font-size:var(--mediumFont);
            text-align:center;
            background-color:var(--navyTransparent);">

        <th class="comparisonCell " style="text-align:center;">
            Product Image
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Title
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Brand
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Price
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Type
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Overall Rating
        </th>
        <th class="comparisonCell " style="text-align:center;">
            Description
        </th>


        <th class="comparisonCell" style="text-align:center;">
            Color
        </th>
        <th class="comparisonCell" style="text-align:center;">
            Durability
        </th>
        <th class="comparisonCell" style="text-align:center;">
            Serving Size
        </th>
        <th class="comparisonCell" style="text-align:center;">
            Brewing Time
        </th>
        <th class="comparisonCell" style="text-align:center;">
            Warranty
        </th>

        <th class="comparisonCell " style="border:none;background-color:var(--lightSeafoam);color:var(--navy);vertical-align:bottom;padding-bottom:0;padding-left:2px;text-align:center;">
            Row Annotations
        </th>
        </tr>
        @*</thead>
            <tbody >*@
        @foreach (AmazonProductModel product in (((List<AmazonProductModel>)ViewData["products"]).Concat<AmazonProductModel>(((List<AmazonProductModel>)ViewData["userCurations"]))))
        {
            <tr style="height:15px;" class="heightRow" id="heightFor@(product.ID)"></tr>
            <tr class="moveRow"
                id="moveRow@(product.ID)"
                ondragover="DragEnter(event, this.id)"
                ondragleave="DragExit(event, this.id)"
                ondrop="Drop(event, this.id)">

                <td class="moveCell" id="moveCellImage@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellTitle@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellBrand@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellPrice@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellType@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellOverallRating@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellDescription@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellColor@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellDurability@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellServingSize@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellBrewingTime@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>
                <td class="moveCell" id="moveCellWarranty@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellClick(event,id)"></td>


                <td class="moveCellOverComment" id="moveCellComments@(product.ID)"></td>
            </tr>

            <tr class="comparisonRow" draggable="true" id="product@(product.ID)"
                ondragstart="Dragging(event, this.id)"
                ondragend="StopDragging(event, this.id)"
                onmouseover="ComparisonRowMouseOver(event, this.id)"
                onmouseout="ComparisonRowMouseOut(event, this.id)">
                <td class="comparisonCell comparisonImageCell">
                    <img src="@(product.ImageLocation)" class="comparisonImage" draggable="false" />
                </td>
                <td class="comparisonCell comparisonTitle">
                    @product.Title
                </td>
                <td class="comparisonCell ">
                        @product.Brand
                </td>
                <td class="comparisonCell comparisonPrice">
                    $@string.Format("{0:0.00}", product.Price)
                </td>
                <td class="comparisonCell ">
                    @product.TypeOfMachine
                </td>
                <td class="comparisonCell comparisonOverallRating">
                    @product.OverallRating
                </td>
                <td class="comparisonCell comparisonDescription">
                    @product.Description
                </td>
                <td class="comparisonCell " style="text-align:center;">
                    @product.Color
                </td>
                <td class="comparisonCell " style="text-align:center;">
                    @product.Durability
                </td>
                <td class="comparisonCell " style="text-align:center;">
                    @product.ServingSize
                </td>
                <td class="comparisonCell " style="text-align:center;">
                        @product.BrewingTime
                </td>
                <td class="comparisonCell " style="text-align:center;">
                        @product.Warranty

                </td>



                <td class="comparisonComments" id="comparisonComments@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOutRow(event, id)"
                    onclick="MoveCellClickRow(event,id)"></td>
            </tr>

            <tr id="reviewRow@(product.ID)" class="reviewRow" 
                >
                <td colspan="5">
                    <div onclick="ShowReviews(event, this.id)"  
                         onmouseover="MouseOverReview(event, this.id)"  
                         onmouseout="MouseOutReview(event, this.id)"  
                         id="reviewsClick@(product.ID)">
                        <span id="expandReview@(product.ID)" style="font-size:var(--mediumFont)" > (+) </span> <span style="font-size:var(--mediumFont)">Reviews</span> <br />
                    </div>
                    <div id="reviews@(product.ID)" style="padding:20px;display:none;">
                        @if (product.Reviews.Count > 0)
                        {
                            foreach (ReviewModel review in product.Reviews)
                            {
                                <hr style="width:50%;" />
                                <div style="margin-bottom:3px;">@review.Title</div>
                                <div style="margin-bottom:3px;">@review.Rating star(s)</div>
                                <div style="margin-bottom:3px;">@review.Description </div>
                            }
                        }
                    </div>
                </td>


                <td class="moveCellReview" id="moveCellReview@(product.ID)"
                    onmouseover="MouseOver(event, id)"
                    onmouseout="MouseOut(event, id)"
                    onclick="MoveCellReviewClick(event, id)"
                    style="background-color:var(--lightSeafoam)"
                    colspan="2"
                    ></td>

            </tr>
        }
        @*</tbody>*@
    </table>
</div>