@*Index for Initial Options*@

@using HccCoffeeMaker.Models.CoffeeMakerModels;

<link rel="stylesheet" type="text/css" href="~/css/Comparison.css" />
<link rel="stylesheet" type="text/css" href="~/css/InitialOptions.css" />
<script src="~/js/InitialOptions.js" ></script>

<script>
    @*@{ 
        var a = new AmazonProductModel()
    }*@
</script>

@*<a href="javascript:history.back()">
    <div id="leftArrow"
         onclick="Judgement(event, id)"
         onmouseover="MouseOverCursor(event, this.id)"
         onmouseout="MouseOutDefault(event, this.id)" >
        <font style="font-size:250px;"> < </font>
    </div>
</a>*@

<form asp-controller="Filter" asp-action="Index" method="post" style="text-align:center;" id="inputForm">

    <div id="leftArrow"
         onclick="Judgement(event, id)"
         onmouseover="MouseOverCursor(event, this.id)"
         onmouseout="MouseOutDefault(event, this.id)"
         style="">
        <font style="font-size:250px;"> 
            < 
        </font>
    </div>

    <input type="text" name="typeOfMachine" value="@ViewData["typeOfMachine"]" style="display:none" />
    <input type="text" name="facetsAdded" value="@ViewData["facetsAdded"]" style="display:none" />
    <input type="text" name="facetParameters" value="@ViewData["facetParameters"]" style="display:none" />
</form>

<div id="goBackText" style="display:block;
    position:fixed;
    left:0px;
    top:65%;
    z-index:5;
    color:var(--navyTransparent);
    width:150px;
    font-size:var(--smallMediumFont);
    text-align:center;">
    Filters will be retained <br />Item selection will not
</div>

<div id="goBackToSelectionText" style="display:block;
    position:fixed;
    left:0px;
    top:65%;
    z-index:5;
    color:var(--navyTransparent);
    width:150px;
    font-size:var(--smallMediumFont);
    text-align:center;
    display:none">
    Item selection will match items in table
</div>


<div id="rightArrow" 
     onclick="MoveToComparison(event, id)"
     onmouseover="MouseOverCursor(event, this.id)"
     onmouseout="MouseOutDefault(event, this.id)"
     >
    <font style="font-size:250px;"> > </font>
</div>

<div id="Selection">

    <div style="height:60px;"></div>
    <div style="font-size:var(--extraLargeFont);text-align:center">Select the products you wish to compare </div>
    <hr />
    <div style="font-size:var(--largeFont);">Your curated machines </div>

    <div style="text-align:center">
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["userCurations"])
        {
            @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
        }
    </div>
    <hr />
    <div style="font-size:var(--largeFont);">Coffee machines matching your search </div>
    <div style="text-align:center">
        @foreach (var item in (ICollection<AmazonProductModel>)ViewData["products"])
        {
            @Html.Partial("~/Views/Shared/Partials/AmazonProductPartials/AmazonProductPartialSmall.cshtml", item)
        }
    </div>


</div>

<div id="Comparison" style="display:none;">
    @Html.Partial("~/Views/InitialOptions/Comparison.cshtml");
</div>

