@model HccCoffeeMaker.Models.CoffeeMakerModels.AmazonProductModel

<style>
.productAttribute {
    border-bottom: solid 1px #aaaaaa;
    border-top: solid 1px #aaaaaa;
    width: 100%;
    overflow:hidden;
    text-overflow:ellipsis;
}

.previewImage {
    text-align: center;
    max-height: 200px;
}

.productImage {
    height:220px;
}

.productTitle {
    font: bolder;
    height:50px;
}

.productRating {
    height:25px;
}

.productDescription {
    height:100px;
}

.productReviews {
    height:250px;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    /*width: 80%;*/
    max-width: 700px;
}

/* Add Animation */
.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* The Close Button */
.close {
    position: absolute;
    top: 60px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
</style>


<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">X</span>
    <img class="modal-content" id="img01" >
    <div id="caption"></div>
</div>



<div style="border:solid 2px #aaaaaa; width:300px; margin:10px;float:left;white-space:normal;">
    <div class="productAttribute productImage" style="text-align:center;">
        <img id="myImg@(Model.ID)" src="@Model.ImageLocation" class="previewImage" style="max-width:100%;" />
    </div>
    @*<div class="productAttribute">
            @Html.DisplayFor(modelItem => item.ID)
        </div>*@
    <div class="productAttribute productTitle" style="font:15px;">
        @Html.DisplayFor(modelItem => Model.Title)
    </div>
    <div class="productAttribute productRating">
        Aerage Rating - @Html.DisplayFor(modelItem => Model.OverallRating)
    </div>
    <div class="productAttribute">
        $@Html.DisplayFor(modelItem => Model.Price)
    </div>
    <div class="productAttribute productDescription">
        Description - @Html.DisplayFor(modelItem => Model.Description)
    </div>

    
    <div class="productAttribute">
        Color - @Html.DisplayFor(modelItem => Model.Color)
    </div>
    <div class="productAttribute">
        Durability - @Html.DisplayFor(modelItem => Model.Durability)
    </div>
    <div class="productAttribute ">
        Serving Size - @Html.DisplayFor(modelItem => Model.ServingSize)
    </div>
    <div class="productAttribute ">
        Brewing Time - @Html.DisplayFor(modelItem => Model.BrewingTime)
    </div>
    <div class="productAttribute ">
        Brand - @Html.DisplayFor(modelItem => Model.Brand)
    </div>
    <div class="productAttribute ">
        Warranty - @Html.DisplayFor(modelItem => Model.Warranty)
    </div>
    <div class="productAttribute ">
        Quality Of Coffee - @Html.DisplayFor(modelItem => Model.QualityOfCoffee)
    </div>


        

    <div class="productAttribute productReviews">
        @foreach (var review in Model.Reviews)
        {
            <div>
                @Html.DisplayFor(modelItem => review.Title)
            </div>
            <div>
                @Html.DisplayFor(modelItem => review.Rating)
            </div>
            @*<div style="overflow:hidden;text-overflow:ellipsis;max-height:300px;">
                @Html.DisplayFor(modelItem => review.Description)
            </div>*@
        }
    </div>
    <div class="productAttribute">
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@Model.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg' + @Model.ID.ToString());
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
    if(modalImg.height > 600)
    {
        modalImg.style.width = (modalImg.width*600)/modalImg.height;
        modalImg.height = 600;
    }
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
</script>