@model HccCoffeeMaker.Models.CoffeeMakerModels.AmazonProductModel

<link rel="stylesheet" type="text/css" href="~/css/AmazonProductPartialSmall.css" />
<script src="~/js/AmazonProductPartialSmall.js"></script>

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">X</span>
    <img class="modal-content" id="img01" >
    <div id="caption"></div>
</div>



<div class="product" id="productPartial@(Model.ID)"
     >
    <div class="productAttribute productImage" style="text-align:center;">
        <img id="myImg@(Model.ID)" src="@Model.ImageLocation" class="previewImage" style="max-width:100%;" 
             onmouseover="MouseOverImage(event, this.id)"
             onmouseout="MouseOutImage(event, this.id)"
        />
    </div>
    <div id="productPartialBody@(Model.ID)" 
         onmouseover="MouseOverProduct(event, this.id)"
         onmouseout="MouseOutProduct(event, this.id)"
         onclick="MouseClickProduct(event,this.id)"
         >
        <div class="productAttribute productTitle" >
            <span class="attributeText">@Html.DisplayFor(modelItem => Model.Title)</span>
        </div>
        <div class="productAttribute productRating">
            <span class="attributeText">Aerage Rating - @Html.DisplayFor(modelItem => Model.OverallRating)</span>
        </div>
        <div class="productAttribute productPrice">
            <span class="attributeText">$@Html.DisplayFor(modelItem => Model.Price)</span>
        </div>
        <div class="productAttribute productDescription">
            <span class="attributeText">Description - @Html.DisplayFor(modelItem => Model.Description)</span>
        </div>
        <div class="checkMarkContainer" 
             style="display:table-cell;
                    vertical-align:middle;
                    text-align:center;
                    margin:0;
                    width:250px;
                    height:50px;"
             >
            @*<img class="checkMark" id="xMark@(Model.ID)" src="~/images/X.png" />
            <img class="checkMark" id="checkMark@(Model.ID)"  src="~/images/Check.png"
                 style="display:inline;
                    font:bolder;
                    font-size:45px;"/>*@
            <div style="height:40px;
                    width:40px;
                    background-color:none;
                    border:solid 3px var(--navyTransparent);
                    border-radius:5px;
                    display:inline-block;
                    margin:1px;
                    line-height:35px;"
                    onmouseover="MouseOverCheckBox(event, this.id)" 
                    onmouseout="MouseOutCheckBox(event, this.id)" 
                 id="checkDiv@(Model.ID)"
                   >
                <span id="check@(Model.ID)" 
                      style="font-size:30px;
                            color:var(--yellow);
                            /*display:none;*/
                            position:relative;
                            top:1px;
                            margin:0;">
                    &nbsp
                </span>

            </div>
        </div>
    </div>
</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById('myImg' + @Model.ID.ToString());
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
    if(modalImg.height > 600)
    {
        modalImg.style.width = (modalImg.width*600)/modalImg.height;
        modalImg.height = 600;
    }
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}
</script>